/***********BASE STYLES***********/

* {
  box-sizing: border-box;
}

body {
  display: flex;
  position: relative;
  height: 100%;
  width: 100%;
  color: #999EA9;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

html, body, ul, h1, h2, h3, h4, p {
  margin: 0;
  padding: 0;
}

/***********LEFT NAV STYLES***********/

.left-nav {
  display: flex;
  flex-direction: column;
  background-color: #354052;
  min-width: 200px;
  min-height: 100%;
  color: #8594b0;
  font-size: 12px;
  font-weight: 700;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 15px;
}

.profile:hover {
  cursor: pointer;
  color: #19A3F7;
}

.profile-pic {
  background-image: url(assets/mjs.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: 1px solid #354052;
  border-radius: 50px;
  min-width: 100px;
  min-height: 100px;
  margin-bottom: 15px;
}

.profile:hover .profile-pic {
  border: 3px solid #19A3F7;
}

.profile-name {
  font-size: 16px;
}

.left-nav hr {
  width: 100%;
  border: 2px solid #2E394B;
}

.main, .admin,
.categories {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.main ul,
.admin ul {
  text-transform: uppercase;
}

.main .fa,
.admin .fa {
  font-size: 16px;
  padding: 2px;
}

.admin .fa-map-marker {
  padding-left: 6px;
  margin-right: 15px;
}

.left-nav h4 {
  margin-bottom: 20px;
}

.left-nav ul {
  display: flex;
  flex-direction: column;
  padding: 0;
  list-style-type: none;
}

.left-nav li {
  padding-bottom: 20px;
}

.left-nav li i {
  margin-right: 10px;
}

.left-nav li:hover {
  color: #19A3F7;
  cursor: pointer;
  transition: all 200ms linear;
  transform: scale(1.07);
}

.left-nav label {
  display: block;
  padding-bottom: 20px;
}

.chkbx {
  font-size: 15px;
}

.checkbox {
  -webkit-appearance: none;
  box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
  padding: 8px;
  border-radius: 3px;
  display: inline-block;
  position: relative;
  margin-right: 10px;
}

.admin-chkbox {
  background-color: #f4f142;
  border: 1px solid #f4f142;
}

.design-chkbox {
  background-color: #19A3F7;
  border: 1px solid #19A3F7;
}

.executive-chkbox {
  background-color: #EA1C62;
  border: 1px solid #EA1C62;
}

.human-resrcs-chkbox {
  background-color: #4EB8BF;
  border: 1px solid #4EB8BF;
}

.checkbox:active,
.checkbox:checked:active {
  box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

.checkbox:checked {
  box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
  color: #354052;
}

.checkbox:checked:after {
  content: '\2714';
  font-size: 14px;
  position: absolute;
  top: 0px;
  left: 3px;
  color: #354052;
}



/***********MAIN STYLES***********/

main {
  flex: 1;
}

/***********HEADER STYLES***********/

header {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}

/*****TOP NAV STYLES*****/

nav {
  display: flex;
  height: 60px;
  border-bottom: 2px solid #F3F3F3;
}

button {
  padding: 20px;
  border: none;
  border-right: 2px solid #F3F3F3;
  background-color: #ffffff;
  color: #999EA9;
}

.top-nav button:hover {
  background-color: #19A3F7;
  color: #fff;
  cursor: pointer;
}

.top-nav .fa-caret-left {
  color: #19A3F7;
}

.top-nav button:hover .fa-caret-left {
  color: #fff;
}

.search-bar {
  display: flex;
  flex: 1;
  padding: 20px 0;
}

.fa-search {
  margin: 0 10px 0 25px;
}

.search-input {
  width: 75%;
  border: none;
  color: #999EA9;
  outline: none;
}

.add-user-btn {
  border-left: 2px solid #F3F3F3;
}

/*****TITLE STYLES*****/

.header-content article {
  display: flex;
}

.header-title {
  display: flex;
  flex-direction: column;
  flex: 2;
  padding: 40px;
}

.header-title h1 {
  font-size: 25px;
  margin-bottom: 10px;
}

.header-title p {
  font-size: 14px;
}

.preview {
  color: #19A3F7;
}

.preview:hover {
  cursor: pointer;
}

.fa-map-marker {
  font-size: 16px;
  margin-right: 5px;
}

.header-btns {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  padding: 40px;
}

.header-btns button {
  border: 2px solid #F3F3F3;
  border-radius: 100px;
  padding: 15px 18px;
  margin: 10px;
}

.header-btns button:hover {
  border-color: #919293;
  cursor: pointer;
}

.fa-circle {
  color: #88C736;
  margin-right: 5px;
}

/*****SECOND-NAV STYLES*****/

.second-nav {
  display: flex;
  padding-left: 40px;
  border-right: 2px solid #F2F2F2;
}

.tab-nav {
  display: inline-block;
  margin-right: 40px;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 22px 0;
  color: #999EA9;
  font-weight: 700;
}

.tab-nav:hover,
.tab-active {
  border-bottom: 3px solid #19A3F7;
  color: #354052;
}

.tab-more {
  display: none;
}

/***********SECTION STYLES***********/

.main-content {
  padding: 40px;
  background-color: #EDF2F6;
}

/*****GRAPHS STYLES*****/

.graphs {
  display: flex;
}

.circle-chart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  padding-top: 10px;
}

.three-circles {
  display: flex;
}

.circle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 180px;
  width: 180px;
  border: 10px solid;
  border-radius: 200px;
  transform: rotate(-45deg);
}

.circle-applicants {
  border-color: #4EB8BF #4EB8BF #D2E1E8 #4EB8BF;
}

.circle-interviews {
  margin: 0 30px;
  border-color: #19A3F7 #D2E1E8 #D2E1E8 #19A3F7;
}

.circle-forwards {
  border-color: #D2E1E8 #D2E1E8 #D2E1E8 #A55C9D;
}

.circle-data {
  color: #354052;
  transform:rotate(45deg);
  text-align: center;
}

.circle-count {
  font-size: 40px;
  font-weight: 400
}

.circle-category {
  font-size: 14px;
  line-height: 1.5;
  text-transform: uppercase;
}

.total-views-btn {
  margin-top: 30px;
}

.totals-btn,
.applicants-btn {
  padding: 10px 15px;
  border: 1px solid #D2E1E8;
  border-radius: 20px;
  color: #354052;
  font-size: 14px;
}

.graphs .totals-btn:hover,
.graphs .applicants-btn:hover {
  border-color: #919293;
  cursor: pointer;
}

.totals {
  text-transform: uppercase;
}

.bar-graph {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
}

.bar-graph-img {
  min-height: 200px;
  min-width: 500px;
  background-image: url(assets/bar-graph.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.applicants-btn {
  margin-top: 20px;
  text-transform: uppercase;
}

/*****DIVIDER LINE STYLES*****/

.divider {
  display: flex;
  align-items: center;
  margin: 40px 0;
}

.divider-line {
  width: 50%;
  margin: auto 0;
  border: 1px solid #D2E1E8;
}

.up-arrow-btn {
  border: 2px solid #D2E1E8;
  border-radius: 100px;
  padding: 10px 15px;
  margin: 0 10px;
}

.up-arrow-btn:hover {
  border-color: #919293;
  cursor: pointer;
}

/*****JOB INFO TABLE STYLES*****/

.job-info {
  display: flex;
  justify-content: space-between;
}

.job-info-table {
  width: 66.6666%;
  border: none;
  border-collapse: collapse;
  background-color: #fff;
  box-shadow: 0 1px 5px rgba(51,51,51,.4);
}

thead {
  background-color: #63728B;
  color: #ffffff;
  padding: 20px 0;
  text-align: left;
  text-transform: uppercase;
}

.table-header {
  display: flex;
  width: 90%;
  margin: 0 auto;
  padding: 20px 0;
}

.table-header th {
  display: flex;
  align-items: center;
}

.edit-btn {
  padding: 10px;
  border-radius: 3px;
  color: #fff;
  background-color: #7E8CA7;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
}

.edit-btn:hover {
  background-color: #2F3748;
}

.edit-btn .fa-pencil {
  margin-right: 5px;
}

tbody {
  width: 100%;
}

tbody tr:not(:last-child) {
  border-bottom: 1px solid #D9DEE2;
}

.row {
  display: flex;
  width: 90%;
  min-height: 30px;
  margin: 0 auto;
  padding: 30px 0;
  color: #6F7E95;
  font-size: 14px;
  line-height: 1.5;
}

.table-category {
  width: 30%;
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
}

.header-data,
.data {
  width: 70%;
}

/*****SOCIAL CONTENT ASIDE STYLES*****/

.social-content {
  display: flex;
  flex-direction: column;
  width: 33.3333%;
  background-color: #EDF2F6;
  padding-left: 45px;
}

.social-btns {
  display: flex;
  flex-direction: column;
}

.facebook-btn,
.twitter-btn,
.linkedin-btn {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 60px;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 3px;
}

.facebook-btn:hover,
.twitter-btn:hover,
.linkedin-btn:hover {
  cursor: pointer;
  transition: all 200ms linear;
  transform: scale(1.05);
}

.fa-facebook,
.fa-twitter,
.fa-linkedin-square {
  font-size: 25px;
  position: absolute;
  top: 20px;
  left: 20px;
}

.facebook-btn {
  background-color: #4064BF;
  color: #ffffff;
}

.twitter-btn {
  background-color: #009DF0;
  color: #ffffff;
  margin: 20px 0;
}

.linkedin-btn {
  background-color: #0073B5;
  color: #ffffff;
}

.job-link, .btn-widget,
.upload-resume {
  display: flex;
  flex-direction: column;
  padding: 30px 0;
}

.job-link-title,
.btn-widget-title,
.upload-resume-title {
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
}

.btn-widget {
  border-top: 1px solid #D2E1E8;
  border-bottom: 1px solid #D2E1E8;
}

.input-btn {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
  box-shadow: 0 2px 2px rgba(55,55,55,.2);
}

.input-area {
  display: flex;
  flex: 2;
  padding: 10px;
  text-overflow: ellipsis;
  outline: none;
  overflow: hidden;
  white-space: nowrap;
  background-color: #fff;
  color: #6F7E95;
  border-style: none;
}

.input-area:focus {
  border: 2px solid #4DBABE;
  border-right: none;
}

.copy-btn {
  background-color: #4EB8BF;
  color: #fff;
}

.fa-globe,
.fa-cog,
.fa-paper-plane {
  padding-top: 2px;
  margin-right: 5px;
  color: #6F7E95;
  font-size: 20px;
}

.social-content h2 {
  color: #6F7E95;
  font-weight: 400;
  font-size: 20px;
}

.social-content p {
  color: #6F7E95;
  font-weight: 400;
  line-height: 1.5;
}

.email-link {
  display: flex;
  background-color: #fff;
  color: #6F7E95;
  margin-top: 15px;
  padding: 15px 10px;
  border: 2px solid #fff;
  box-shadow: 0 2px 2px rgba(55,55,55,.2);
  font-weight: 400;
  text-decoration: none;
  text-transform: lowercase;
}

.email-link:hover {
  border: 2px solid #4DBABE;
}

/***********MEDIA QUERIES***********/

@media screen and (max-width: 1400px) {

  .graphs {
    flex-direction: column;
    align-items: center;
  }

  .circle-chart {
    padding: 0;
  }

  .bar-graph {
    margin-top: 40px;
  }

  .bar-graph-img {
    min-height: 280px;
    min-width: 640px;
  }
}

@media screen and (max-width: 1250px) {

  .job-info {
    flex-direction: column;
    align-items: center;
  }

  .job-info-table {
    width: 100%;
  }

  .social-content {
    width: 100%;
    margin-top: 40px;
    padding: 0;
  }

  .social-btns {
    flex-direction: row;
    justify-content: space-between;
  }

  .facebook-btn,
  .twitter-btn,
  .linkedin-btn {
    width: 30%;
  }

  .twitter-btn {
    margin: 0;
  }
}

@media screen and (max-width: 1050px) {

  .tab-broadcast,
  .tab-notify {
    display: none;
  }

  .tab-more {
    display: inline-block;
  }

  .fa-facebook,
  .fa-twitter,
  .fa-linkedin-square  {
    position: absolute;
    top: 18px;
    left: 15px;
  }
}

@media screen and (max-width: 980px) {

  .left-nav,
  .tab-more {
    display: none;
  }

  .tab-broadcast,
  .tab-notify {
    display: inline-block;
  }

  .header-title,
  .header-btns {
    padding: 25px;
  }
}

@media screen and (max-width: 860px) {

  .tab-more {
    display: inline-block;
  }

  .tab-broadcast,
  .tab-notify {
    display: none;
  }

  .second-nav {
    justify-content: center;
    padding: 0;
  }

  .header-content  article {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .header-title {
    align-items: center;
    padding: 20px 0 10px 0;
  }

  .header-btns {
    padding: 0 0 30px 0;
  }

  .social-btns {
    flex-direction: column;
    align-items: center;
  }

  .facebook-btn,
  .twitter-btn,
  .linkedin-btn {
    width: 100%;
  }

  .twitter-btn {
    margin: 20px 0;
  }
}

@media screen and (max-width: 725px) {

  .calendar-btn,
  .grid-btn,
  .add-user-btn,
  .tab-activity {
    display: none;
  }

  .circle {
    height: 150px;
    width: 150px;
  }

  .bar-graph-img {
    min-height: 220px;
    min-width: 540px;
  }

  .table-category {
    width: 30%;
  }

  .header-data,
  .data {
    width: 70%;
  }
}

@media screen and (max-width: 625px) {

  .tab-intvw {
    display: none;
  }

  .main-content {
    padding: 40px 20px;
  }

  .three-circles {
    flex-direction: column;
    align-items: center;
  }

  .circle {
    height: 180px;
    width: 180px;
  }

  .circle-interviews {
    margin: 30px 0;
  }

  .bar-graph-img {
    min-height: 180px;
    min-width: 460px
  }

  .row {
    flex-direction: column;
    font-size: 16px;
  }

  .table-category {
    width: 60%;
  }

  .data {
    width: 100%;
  }
}

@media screen and (max-width: 490px) {

  .tab-job {
    display: none;
  }

  .header-title h1 {
    text-align: center;
  }

  .bar-graph-img {
    min-height: 140px;
    min-width: 350px;
  }
}

@media screen and (max-width: 410px) {

  .search-input {
    font-size: 13px;
  }

  .table-category {
    width: 80%;
  }

  .bar-graph-img {
    min-height: 120px;
    min-width: 300px;
  }
}

@media screen and (max-width: 350px) {

  .tab-active {
    margin-left: 10px;
  }

  .bar-graph-img {
    min-height: 100px;
    min-width: 250px;
  }
}
